name: Mirror to GitLab

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          # 技巧：把用户名改成 oauth2，这是 GitLab 官方推荐的 Token 登录通用名
          target_repo_url: https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/renleihaokun/renleihaokun-blog.git

